<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- Site made with Mobirise Website Builder v5.8.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.8.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  <title>COLOCATION MARSEILLE LA JOLIETTE - 1er étage</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/animatecss/animate.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
</head>
<body>

<%- include('../components/navbar.ejs'); %>

<section data-bs-version="5.1" class="header6 cid-tG857YabpK" id="header6-7">
    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(53, 53, 53);"></div>
    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong><%= __('title') %></strong></h1>
                <p class="mbr-text mbr-white mbr-fonts-style display-2">📍 56 Rue de Forbin 13002 Marseille</p>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="gallery4 mbr-gallery cid-tG833w39vl" id="gallery4-1">
    <div class="container-fluid">
        <div class="row mbr-gallery mt-4">
            <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                <div class="item-wrapper" data-toggle="modal" data-bs-toggle="modal" data-target="#tGcor9f2w9-modal" data-bs-target="#tGcor9f2w9-modal">
                    <img class="w-100" src="assets/images/tv4a1916.jpg" alt="Mobirise Website Builder" data-slide-to="0" data-bs-slide-to="0" data-target="#lb-tGcor9f2w9" data-bs-target="#lb-tGcor9f2w9">
                    <div class="icon-wrapper">
                        <span class="mobi-mbri mobi-mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                <div class="item-wrapper" data-toggle="modal" data-bs-toggle="modal" data-target="#tGcor9f2w9-modal" data-bs-target="#tGcor9f2w9-modal">
                    <img class="w-100" src="assets/images/chambre-2.jpg" alt="Mobirise Website Builder" data-slide-to="1" data-bs-slide-to="1" data-target="#lb-tGcor9f2w9" data-bs-target="#lb-tGcor9f2w9">
                    <div class="icon-wrapper">
                        <span class="mobi-mbri mobi-mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                <div class="item-wrapper" data-toggle="modal" data-bs-toggle="modal" data-target="#tGcor9f2w9-modal" data-bs-target="#tGcor9f2w9-modal">
                    <img class="w-100" src="assets/images/chambre.jpg" alt="Mobirise Website Builder" data-slide-to="2" data-bs-slide-to="2" data-target="#lb-tGcor9f2w9" data-bs-target="#lb-tGcor9f2w9">
                    <div class="icon-wrapper">
                        <span class="mobi-mbri mobi-mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                <div class="item-wrapper" data-toggle="modal" data-bs-toggle="modal" data-target="#tGcor9f2w9-modal" data-bs-target="#tGcor9f2w9-modal">
                    <img class="w-100" src="assets/images/tv4a1887.jpg" alt="Mobirise Website Builder" data-slide-to="3" data-bs-slide-to="3" data-target="#lb-tGcor9f2w9" data-bs-target="#lb-tGcor9f2w9">
                    <div class="icon-wrapper">
                        <span class="mobi-mbri mobi-mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal mbr-slider" tabindex="-1" role="dialog" aria-hidden="true" id="tGcor9f2w9-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="carousel slide" id="lb-tGcor9f2w9" data-interval="5000" data-bs-interval="5000">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="assets/images/tv4a1916.jpg" alt="Mobirise Website Builder">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/chambre-2.jpg" alt="Mobirise Website Builder">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/chambre.jpg" alt="Mobirise Website Builder">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/tv4a1887.jpg" alt="Mobirise Website Builder">
                                </div>
                            </div>
                            <ol class="carousel-indicators">
                                <li data-slide-to="0" data-bs-slide-to="0" class="active" data-target="#lb-tGcor9f2w9" data-bs-target="#lb-tGcor9f2w9"></li>
                                <li data-slide-to="1" data-bs-slide-to="1" data-target="#lb-tGcor9f2w9" data-bs-target="#lb-tGcor9f2w9"></li>
                                <li data-slide-to="2" data-bs-slide-to="2" data-target="#lb-tGcor9f2w9" data-bs-target="#lb-tGcor9f2w9"></li>
                                <li data-slide-to="3" data-bs-slide-to="3" data-target="#lb-tGcor9f2w9" data-bs-target="#lb-tGcor9f2w9"></li>
                            </ol>
                            <a role="button" href="" class="close" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close">
                            </a>
                            <a class="carousel-control-prev carousel-control" role="button" data-slide="prev" data-bs-slide="prev" href="#lb-tGcor9f2w9">
                                <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
                                <span class="sr-only visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next carousel-control" role="button" data-slide="next" data-bs-slide="next" href="#lb-tGcor9f2w9">
                                <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
                                <span class="sr-only visually-hidden">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="gallery4 mbr-gallery cid-tG848SC6rA" id="gallery4-4">
    <div class="container-fluid">
        <div class="row mbr-gallery mt-4">
            <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                <div class="item-wrapper" data-toggle="modal" data-bs-toggle="modal" data-target="#tGcor9CEa3-modal" data-bs-target="#tGcor9CEa3-modal">
                    <img class="w-100" src="assets/images/tv4a1846.jpeg" alt="Mobirise Website Builder" data-slide-to="0" data-bs-slide-to="0" data-target="#lb-tGcor9CEa3" data-bs-target="#lb-tGcor9CEa3">
                    <div class="icon-wrapper">
                        <span class="mobi-mbri mobi-mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                <div class="item-wrapper" data-toggle="modal" data-bs-toggle="modal" data-target="#tGcor9CEa3-modal" data-bs-target="#tGcor9CEa3-modal">
                    <img class="w-100" src="assets/images/cuisine.jpg" alt="Mobirise Website Builder" data-slide-to="1" data-bs-slide-to="1" data-target="#lb-tGcor9CEa3" data-bs-target="#lb-tGcor9CEa3">
                    <div class="icon-wrapper">
                        <span class="mobi-mbri mobi-mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                    </div>
                </div>
                
            </div>
            <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                <div class="item-wrapper" data-toggle="modal" data-bs-toggle="modal" data-target="#tGcor9CEa3-modal" data-bs-target="#tGcor9CEa3-modal">
                    <img class="w-100" src="assets/images/tv4a1908.jpg" alt="Mobirise Website Builder" data-slide-to="2" data-bs-slide-to="2" data-target="#lb-tGcor9CEa3" data-bs-target="#lb-tGcor9CEa3">
                    <div class="icon-wrapper">
                        <span class="mobi-mbri mobi-mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                    </div>
                </div>
                
            </div><div class="col-12 col-md-6 col-lg-3 item gallery-image">
                <div class="item-wrapper" data-toggle="modal" data-bs-toggle="modal" data-target="#tGcor9CEa3-modal" data-bs-target="#tGcor9CEa3-modal">
                    <img class="w-100" src="assets/images/immeuble.jpg" alt="Mobirise Website Builder" data-slide-to="3" data-bs-slide-to="3" data-target="#lb-tGcor9CEa3" data-bs-target="#lb-tGcor9CEa3">
                    <div class="icon-wrapper">
                        <span class="mobi-mbri mobi-mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="modal mbr-slider" tabindex="-1" role="dialog" aria-hidden="true" id="tGcor9CEa3-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="carousel slide" id="lb-tGcor9CEa3" data-interval="5000" data-bs-interval="5000">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="assets/images/tv4a1846.jpeg" alt="Mobirise Website Builder">
                                </div>
                                
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/cuisine.jpg" alt="Mobirise Website Builder">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/tv4a1908.jpg" alt="Mobirise Website Builder">
                                </div><div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/immeuble.jpg" alt="Mobirise Website Builder">
                                </div>
                            </div>
                            <ol class="carousel-indicators">
                                <li data-slide-to="0" data-bs-slide-to="0" class="active" data-target="#lb-tGcor9CEa3" data-bs-target="#lb-tGcor9CEa3"></li>
                                <li data-slide-to="1" data-bs-slide-to="1" data-target="#lb-tGcor9CEa3" data-bs-target="#lb-tGcor9CEa3"></li>
                                <li data-slide-to="2" data-bs-slide-to="2" data-target="#lb-tGcor9CEa3" data-bs-target="#lb-tGcor9CEa3"></li><li data-slide-to="3" data-bs-slide-to="3" data-target="#lb-tGcor9CEa3" data-bs-target="#lb-tGcor9CEa3"></li>
                                
                            </ol>
                            <a role="button" href="" class="close" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close">
                            </a>
                            <a class="carousel-control-prev carousel-control" role="button" data-slide="prev" data-bs-slide="prev" href="#lb-tGcor9CEa3">
                                <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
                                <span class="sr-only visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next carousel-control" role="button" data-slide="next" data-bs-slide="next" href="#lb-tGcor9CEa3">
                                <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
                                <span class="sr-only visually-hidden">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content4 cid-tG88jl3yLN" id="content4-9">

    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                    <strong><%= __('renove') %></strong></h3>
                <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-5">
                    <%= __('renove-text') %></h4>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features12 cid-tG89xnIEJU" id="features13-a">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <h4 class="card-title mbr-fonts-style mb-4 display-2">
                            <strong><%= __('detail') %></strong></h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7"></p><p><span style="font-size: 1.2rem; line-height: 22px"><%= __('location') %>&nbsp;</span></p><br><p><span style="font-size: 1.2rem;"><%= __('location2') %></span></p><p></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="item mbr-flex">
                    <div class="icon-box">
                        <span class="mbr-iconfont mobi-mbri-hearth mobi-mbri"></span>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title mbr-black mbr-fonts-style display-7">
                            <strong><%= __('bedroom') %></strong></h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4"><%= __('mesurent') %> <strong>11m²</strong>, <%= __('avec') %> <strong><%= __('bed') %></strong> <strong><%= __('literie') %> </strong><strong><%= __('bureau') %></strong>, <%= __('stuff') %>&nbsp&nbsp;</h5>
                    </div>
                </div>
                <div class="item mbr-flex">
                    <div class="icon-box">
                        <span class="mbr-iconfont mobi-mbri-plus mobi-mbri"></span>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title mbr-black mbr-fonts-style display-7">
                            <strong><%= __('livingroom') %></strong></h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4"><%= __('kitchen') %> &nbsp;</h5>
                    </div>
                </div>
                <div class="item mbr-flex">
                    <div class="icon-box">
                        <span class="mbr-iconfont mobi-mbri-users mobi-mbri"></span>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title mbr-black mbr-fonts-style display-7">
                            <strong><%= __('mixte') %></strong></h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4"><%= __('locataires') %> <strong><%= __('jeune') %></strong> &amp; <strong><%= __('student') %></strong> <%= __('keep') %> <strong><%= __('parite') %></strong> <strong><%= __('hf') %></strong>.&nbsp;</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features1 cid-tG8g4QtVHT" id="features1-g">
    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong><%= __('chb') %></strong></h3>
                <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-7">
                    <%= __('looking') %></h5>
            </div>
        </div>
        <div class="row">
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-user mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Adrien (25 ans)</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">Etudiant</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-user mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Aya (25 ans)</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">Jeune active</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-user mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Chloé (23 ans)</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">Etudiante</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-user mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong><%= __('you') %> ?</strong></h5>
                        <p class="card-text mbr-fonts-style display-7"><%= __('hope') %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content6 cid-tG8iTPBN2M" id="content6-j">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <hr class="line">
                <p class="mbr-text align-center mbr-fonts-style my-4 display-2"><em><strong><%= __('renting') %></strong></em></p>
                <hr class="line">
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features11 cid-tG8hiYcVHi" id="features12-i">
    <div class="container">
        <div class="m-0 row align-items-center">
            <div class="col-12 col-lg">
                <div class="card-wrapper">
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mb-4 display-2">
                            <strong><%= __('reserving') %></strong></h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7"><%= __('applying') %> <strong><%= __('depot') %></strong><%= __('virement') %></p>
                        <div class="mbr-text mbr-fonts-style counter-container display-7">
                            <ul>
                                <li><strong><%= __('loyer') %></strong></li>
                                <li><strong><%= __('min') %></strong>&nbsp;</li>
                                <li><%= __('doc') %> <strong><%= __('avis') %></strong> <strong><%= __('bulletin') %></strong><%= __('bulletin2') %> </li><li><%= __('explain') %>&nbsp;</li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn mb-4"><a class="btn btn-black display-4" href="/candidature/1"><%= __('deposer') %></a></div>
                    </div>
                </div>
            </div>
            <div class="p-0 col-12 col-lg-6 md-pb">
                <div class="image-wrapper">
                    <img src="assets/images/tv4a1917.jpg" alt="Mobirise Website Builder">
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="map1 cid-tG8mWMra4p" id="map1-l">
    <div>
        <div class="google-map">
            <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCNveGQ9bfpKFwWzQLLftrR9hNiHwdqQG8&amp;q=56 rue de forbin 13002 Marseille" allowfullscreen=""></iframe></div>
    </div>
</section>

<section data-bs-version="5.1" class="footer7 cid-tG8lCpOiV5" once="footers" id="footer7-k">
    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright 2023 - SCI JACOB - 11 Av. Jacques Prévert 13730 Saint-Victoret</p>
            </div>
        </div>
    </div>
</section>
  <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/ytplayer/index.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <input name="animation" type="hidden">
  </body>
</html>
